/*
----
*****
----
*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

p,
h1,
h2 {
  line-height: 35px;
}

/*
----
CONTAINERS
----
*/

.container {
  display: flex;
  margin: 0 auto;
}

.container.big {
  max-width: 1250px;
}

.container.small {
  max-width: 950;
}

.container.link {
  display: flex;
}

.container.top-barr {
  align-items: center;
}

.big,
.small {
  justify-content: center;
}

/*
----
DEBUG
----
*/

.debug .top-header {
  background-color: #add8e6;
}

.debug .menu {
  border: 2px dashed black;
  background-color: #daa520;
}

.debug .bottom-header {
  background-color: #00008b;

  border-bottom: 4px solid yellow;
}

.debug .viola {
  border: 2px dashed black;
  height: 410px;
  background-color: #ee82ee;
}

.debug .box1 {
  min-width: 1250px;
  height: 520px;
  padding: 50px;
}

.debug .photo1 {
  border: 2px dashed black;
  flex-grow: 1;
  background-color: #1e90ff;
}

.debug .box2 {
  min-width: 1250px;
  height: 520px;
  padding: 50px;
}

.debug .photo2 {
  width: 40%;
  border: 2px dashed black;
  background-color: #ffc0cb;
}

.debug .photo3 {
  border: 2px dashed black;
  flex-grow: 1;
  background-color: #1e90ff;
}

.debug .photo4 {
  width: 40%;
  border: 2px dashed black;
  background-color: #ffc0cb;
}

.debug .bottom-main {
  padding: 50px;
  background-color: #d3d3d3;
}

.debug .verde {
  height: 940px;
  min-width: 1250px;
  border: 2px dashed black;
  background-color: #228b22;
}

/*
----
HEADER
----
*/

.top-header {
  padding: 15px;
  min-width: 1250px;
}

.menu {
  padding: 10px;
}

.link {
  text-align: center;
  width: 50%;
  justify-content: space-around;
}

a:link {
  text-decoration: none;
  color: white;
}
.login {
  text-align: right;
}

.bottom-header {
  padding: 50px;
}

header {
  background-image: url('img/jumbo.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.bottone1 {
  display: inline-block;
  background-color: white;
  border-radius: 45px;
  color: black;
  padding: 10px 20px;
  margin: 20px;
}

.bottone2 {
  display: inline-block;
  background-color: black;
  border-radius: 45px;
  color: white;
  padding: 10px 20px;
  margin: 20px 20px 180px;
}

h1 {
  margin: 40px;
  font-size: 40px;
}

.viola {
  text-align: center;
  padding: 50px;
}

/*
----
MAIN
----
*/

main {
  color: black;
}

.box1 {
  margin-top: 330px;
}

h2 {
  text-align: left;
  font-size: 40px;
  margin-bottom: 45px;
}

.photo2 {
  margin-top: 35px;
}

.photo4 {
  order: -1;
  margin-top: 35px;
}

.verde {
  text-align: center;
}

.bottone3 {
  display: inline-block;
  background-color: #7289da;
  border-radius: 45px;
  color: white;
  padding: 10px 20px;
  margin: 20px 0 170px;
}

.verde h2 {
  text-align: center;
}

h3 {
  margin-top: 170px;
}

/*
----
FOOTER
----
*/
footer {
  background-color: #23272a;
}

.footer-section3 {
  height: 100vh;
}

.box3 {
  padding: 20px;
  min-width: 1250px;
  height: 660px;
}

.photo5 {
  order: -1;
  background-color: #f08080;
  border: 2px dashed black;
  width: 200px;
}

.photo6 {
  background-color: #20b2aa;
  border: 2px dashed white;
  width: calc(100% / 4 - 200px);
}

.box4 {
  padding-top: 30px;
  padding-left: 0px 370px;
}

.sfondo {
  background-color: #7fffd4;
  min-width: 1250px;
  height: 80px;
}

.fine {
  border: 2px dashed black;
  padding: 10px;
  background-color: #ffb6c1;
}

.container-box2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containersofndo {
  display: flex;
  justify-content: center;
}
